<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WebSockets Demo</title>

  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
	<div>
		<img src="{{url}}"/>
	</div>
</body>
</html>
